In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
pd.set_option('display.max_columns', None)

In [2]:
# 1. Data Exploration
# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(data.head())

First few rows of the dataset:
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0        19479                   8      Y      Yes                 11
1        24907                   1      Y       No                 23
2         2396                   6      Y      Yes                 15
3        23159                   1      Y      Yes                 11
4        16632                   9      Y       No                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [3]:
# 1. Data Exploration
# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(data.head())

First few rows of the dataset:
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0        19479                   8      Y      Yes                 11
1        24907                   1      Y       No                 23
2         2396                   6      Y      Yes                 15
3        23159                   1      Y      Yes                 11
4        16632                   9      Y       No                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [4]:
# Summary statistics of numerical columns
print("\nSummary statistics of numerical columns:")
print(data.describe())

Summary statistics of numerical columns:
               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1470.000000  1470.000000       1470.000000  1470.000000         1470.0
mean     36.923810   802.485714          9.192517     2.912925            1.0
std       9.135373   403.509100          8.106864     1.024165            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   802.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1470.000000              1470.000000  1470.000000     1470.000000
mean      1024.865306                 2.721769    65.891156        2.729932
std        602.024335                 1.093082    20.329428        0.711561
min          1.000000                 1.000000    30.000000        1.000000
25%        491.250000                 2.000000    48.000000        2.000000
50%       1020.500000                 3.000000    66.000000        3.000000
75%       1555.750000                 4.000000    83.750000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  JobSatisfaction  MonthlyIncome   MonthlyRate  \
count  1470.000000      1470.000000    1470.000000   1470.000000
mean      2.063946         2.728571    6502.931293  14313.103401
std       1.106940         1.102846    4707.956783   7117.786044
min       1.000000         1.000000    1009.000000   2094.000000
25%       1.000000         2.000000    2911.000000   8047.000000
50%       2.000000         3.000000    4919.000000  14235.500000
75%       3.000000         4.000000    8379.000000  20461.500000
max       5.000000         4.000000   19999.000000  26999.000000

       NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
count         1470.000000        1470.000000        1470.000000
mean             2.693197          15.209524           3.153741
std              2.498009           3.659938           0.360824
min              0.000000          11.000000           3.000000
25%              1.000000          12.000000           3.000000
50%              2.000000          14.000000           3.000000
75%              4.000000          18.000000           3.000000
max              9.000000          25.000000           4.000000

       RelationshipSatisfaction  StandardHours  StockOptionLevel  \
count               1470.000000         1470.0       1470.000000
mean                   2.712245           80.0          0.793878
std                    1.081209            0.0          0.852077
min                    1.000000           80.0          0.000000
25%                    2.000000           80.0          0.000000
50%                    3.000000           80.0          1.000000
75%                    4.000000           80.0          1.000000
max                    4.000000           80.0          3.000000

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
count        1470.000000            1470.000000      1470.000000
mean           11.279592               2.799320         2.761224
std             7.780782               1.289271         0.706476
min             0.000000               0.000000         1.000000
25%             6.000000               2.000000         2.000000
50%            10.000000               3.000000         3.000000
75%            15.000000               3.000000         3.000000
max            40.000000               6.000000         4.000000

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
count     1470.000000         1470.000000              1470.000000
mean         7.008163            4.229252                 2.187755
std          6.126525            3.623137                 3.222430
min          0.000000            0.000000                 0.000000
25%          3.000000            2.000000                 0.000000
50%          5.000000            3.000000                 1.000000
75%          9.000000            7.000000                 3.000000
max         40.000000           18.000000                15.000000

       YearsWithCurrManager
count           1470.000000
mean               4.123129
std                3.568136
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000

In [5]:
# Summary statistics of categorical columns
print("\nSummary statistics of categorical columns:")
print(data.describe(include=['object']))

Summary statistics of categorical columns:
       Attrition BusinessTravel              Department EducationField Gender  \
count       1470           1470                    1470           1470   1470
unique         2              3                       3              6      2
top           No  Travel_Rarely  Research & Development  Life Sciences   Male
freq        1233           1043                     961            606    882

                JobRole MaritalStatus Over18 OverTime
count              1470          1470   1470     1470
unique                9             3      1        2
top     Sales Executive       Married      Y       No
freq                326           673   1470     1054

In [6]:
# 2. Data Cleaning
# Check for missing values and handle them
print("\nNumber of missing values in each column:")
print(data.isnull().sum())

Number of missing values in each column:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
#Data Encoding
#1.Attrition
# Perform ordinal encoding for the "Attrition" column
data['Attrition'] = data['Attrition'].map({'Yes': 1, 'No': 0})

# Display the encoded data
print(data.head())

   Age  Attrition     BusinessTravel  DailyRate              Department  \
0   41          1      Travel_Rarely       1102                   Sales
1   49          0  Travel_Frequently        279  Research & Development
2   37          1      Travel_Rarely       1373  Research & Development
3   33          0  Travel_Frequently       1392  Research & Development
4   27          0      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0        19479                   8      Y      Yes                 11
1        24907                   1      Y       No                 23
2         2396                   6      Y      Yes                 15
3        23159                   1      Y      Yes                 11
4        16632                   9      Y       No                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [9]:
#2. BusinessTravel
# Initialize LabelEncoder
import pandas as pd
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Fit label encoder and transform "BusinessTravel" column
data['BusinessTravel'] = label_encoder.fit_transform(data['BusinessTravel'])

# Display the encoded data
print(data.head())

   Age  Attrition  BusinessTravel  DailyRate              Department  \
0   41          1               2       1102                   Sales
1   49          0               1        279  Research & Development
2   37          1               2       1373  Research & Development
3   33          0               1       1392  Research & Development
4   27          0               2        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0        19479                   8      Y      Yes                 11
1        24907                   1      Y       No                 23
2         2396                   6      Y      Yes                 15
3        23159                   1      Y      Yes                 11
4        16632                   9      Y       No                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [10]:
#3.Overtime
# Perform binary encoding for the "OverTime" column
data['OverTime'] = data['OverTime'].map({'No': 0, 'Yes': 1})

print(data.head())

   Age  Attrition  BusinessTravel  DailyRate              Department  \
0   41          1               2       1102                   Sales
1   49          0               1        279  Research & Development
2   37          1               2       1373  Research & Development
3   33          0               1       1392  Research & Development
4   27          0               2        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18  OverTime  PercentSalaryHike  \
0        19479                   8      Y         1                 11
1        24907                   1      Y         0                 23
2         2396                   6      Y         1                 15
3        23159                   1      Y         1                 11
4        16632                   9      Y         0                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [11]:
#4. Department
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit label encoder and transform "Department" column
data['Department'] = label_encoder.fit_transform(data['Department'])

# Display the encoded data
print(data.head())

   Age  Attrition  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0   41          1               2       1102           2                 1
1   49          0               1        279           1                 8
2   37          1               2       1373           1                 2
3   33          0               1       1392           1                 3
4   27          0               2        591           1                 2

   Education EducationField  EmployeeCount  EmployeeNumber  \
0          2  Life Sciences              1               1
1          1  Life Sciences              1               2
2          2          Other              1               4
3          4  Life Sciences              1               5
4          1        Medical              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18  OverTime  PercentSalaryHike  \
0        19479                   8      Y         1                 11
1        24907                   1      Y         0                 23
2         2396                   6      Y         1                 15
3        23159                   1      Y         1                 11
4        16632                   9      Y         0                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [12]:
#5. EducationField
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit label encoder and transform "EducationField" column
data['EducationField'] = label_encoder.fit_transform(data['EducationField'])

# Display the encoded data
print(data.head())

   Age  Attrition  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0   41          1               2       1102           2                 1
1   49          0               1        279           1                 8
2   37          1               2       1373           1                 2
3   33          0               1       1392           1                 3
4   27          0               2        591           1                 2

   Education  EducationField  EmployeeCount  EmployeeNumber  \
0          2               1              1               1
1          1               1              1               2
2          2               4              1               4
3          4               1              1               5
4          1               3              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2  Female          94               3         2
1                        3    Male          61               2         2
2                        4    Male          92               2         1
3                        4  Female          56               3         1
4                        1    Male          40               3         1

                 JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0        Sales Executive                4        Single           5993
1     Research Scientist                2       Married           5130
2  Laboratory Technician                3        Single           2090
3     Research Scientist                3       Married           2909
4  Laboratory Technician                2       Married           3468

   MonthlyRate  NumCompaniesWorked Over18  OverTime  PercentSalaryHike  \
0        19479                   8      Y         1                 11
1        24907                   1      Y         0                 23
2         2396                   6      Y         1                 15
3        23159                   1      Y         1                 11
4        16632                   9      Y         0                 12

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80
2                  3                         2             80
3                  3                         3             80
4                  3                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3
2                 0                  7                      3
3                 0                  8                      3
4                 1                  6                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7
2                3               0                   0
3                3               8                   7
4                3               2                   2

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7
2                        0                     0
3                        3                     0
4                        2                     2

In [13]:
#6. Gender
# Perform binary encoding for the "Gender" column
data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})
# Display the encoded data
print(data.head(2))

   Age  Attrition  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0   41          1               2       1102           2                 1
1   49          0               1        279           1                 8

   Education  EducationField  EmployeeCount  EmployeeNumber  \
0          2               1              1               1
1          1               1              1               2

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2       1          94               3         2
1                        3       0          61               2         2

              JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  \
0     Sales Executive                4        Single           5993
1  Research Scientist                2       Married           5130

   MonthlyRate  NumCompaniesWorked Over18  OverTime  PercentSalaryHike  \
0        19479                   8      Y         1                 11
1        24907                   1      Y         0                 23

   PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                  3                         1             80
1                  4                         4             80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 0                  8                      0
1                 1                 10                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                1               6                   4
1                3              10                   7

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     5
1                        1                     7

In [14]:
#7.JobRole
from sklearn.preprocessing import LabelEncoder


# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit label encoder and transform "JobRole" column
data['JobRole'] = label_encoder.fit_transform(data['JobRole'])

# Display the encoded data
print(data.head())

   Age  Attrition  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0   41          1               2       1102           2                 1
1   49          0               1        279           1                 8
2   37          1               2       1373           1                 2
3   33          0               1       1392           1                 3
4   27          0               2        591           1                 2

   Education  EducationField  EmployeeCount  EmployeeNumber  \
0          2               1              1               1
1          1               1              1               2
2          2               4              1               4
3          4               1              1               5
4          1               3              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2       1          94               3         2
1                        3       0          61               2         2
2                        4       0          92               2         1
3                        4       1          56               3         1
4                        1       0          40               3         1

   JobRole  JobSatisfaction MaritalStatus  MonthlyIncome  MonthlyRate  \
0        7                4        Single           5993        19479
1        6                2       Married           5130        24907
2        2                3        Single           2090         2396
3        6                3       Married           2909        23159
4        2                2       Married           3468        16632

   NumCompaniesWorked Over18  OverTime  PercentSalaryHike  PerformanceRating  \
0                   8      Y         1                 11                  3
1                   1      Y         0                 23                  4
2                   6      Y         1                 15                  3
3                   1      Y         1                 11                  3
4                   9      Y         0                 12                  3

   RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                         1             80                 0
1                         4             80                 1
2                         2             80                 0
3                         3             80                 0
4                         4             80                 1

   TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                  8                      0                1               6
1                 10                      3                3              10
2                  7                      3                3               0
3                  8                      3                3               8
4                  6                      3                3               2

   YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                   4                        0                     5
1                   7                        1                     7
2                   0                        0                     0
3                   7                        3                     0
4                   2                        2                     2

In [15]:
#8. Over18
# Perform binary encoding for the "Over1" column
data['Over18'] = data['Over18'].map({'N': 0, 'Y': 1})

In [16]:
#9.MaritalStatus
from sklearn.preprocessing import LabelEncoder


# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit label encoder and transform "JobRole" column
data['MaritalStatus'] = label_encoder.fit_transform(data['MaritalStatus'])

# Display the encoded data
print(data.head())

   Age  Attrition  BusinessTravel  DailyRate  Department  DistanceFromHome  \
0   41          1               2       1102           2                 1
1   49          0               1        279           1                 8
2   37          1               2       1373           1                 2
3   33          0               1       1392           1                 3
4   27          0               2        591           1                 2

   Education  EducationField  EmployeeCount  EmployeeNumber  \
0          2               1              1               1
1          1               1              1               2
2          2               4              1               4
3          4               1              1               5
4          1               3              1               7

   EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                        2       1          94               3         2
1                        3       0          61               2         2
2                        4       0          92               2         1
3                        4       1          56               3         1
4                        1       0          40               3         1

   JobRole  JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  \
0        7                4              2           5993        19479
1        6                2              1           5130        24907
2        2                3              2           2090         2396
3        6                3              1           2909        23159
4        2                2              1           3468        16632

   NumCompaniesWorked  Over18  OverTime  PercentSalaryHike  PerformanceRating  \
0                   8       1         1                 11                  3
1                   1       1         0                 23                  4
2                   6       1         1                 15                  3
3                   1       1         1                 11                  3
4                   9       1         0                 12                  3

   RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                         1             80                 0
1                         4             80                 1
2                         2             80                 0
3                         3             80                 0
4                         4             80                 1

   TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                  8                      0                1               6
1                 10                      3                3              10
2                  7                      3                3               0
3                  8                      3                3               8
4                  6                      3                3               2

   YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                   4                        0                     5
1                   7                        1                     7
2                   0                        0                     0
3                   7                        3                     0
4                   2                        2                     2

In [17]:
print("\nInformation about the dataset:")
print(data.info())

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int32
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int32
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int64
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int32
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int32
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   int64
 22  OverTime                  1470 non-null   int64
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int32(4), int64(31)
memory usage: 379.1 KB
None

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

logreg= LogisticRegression()
logreg.fit(X_train,y_train)

C:\Users\FCAUGUST\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [26]:
pre=logreg.predict(X_test)

In [28]:
result = pd.DataFrame({"Actual_Pre":y_test , "prediction": pre})
result

      Actual_Pre  prediction
1041           0           0
184            0           0
1222           1           0
67             0           0
220            0           0
...          ...         ...
567            0           0
560            0           0
945            0           0
522            0           0
651            0           0

[294 rows x 2 columns]

In [29]:
from sklearn.metrics import confusion_matrix

# Calculate confusion matrix
conf_matrix = confusion_matrix(y_test, pre)

# Print confusion matrix
print("Confusion Matrix:")
print(conf_matrix)

Confusion Matrix:
[[255   0]
 [ 39   0]]

In [31]:
#Model Evaluation
# Evaluate the model
print("Classification Report:")
print(classification_report(y_test, y_pred, zero_division=1))

Classification Report:
              precision    recall  f1-score   support

           0       0.87      1.00      0.93       255
           1       1.00      0.00      0.00        39

    accuracy                           0.87       294
   macro avg       0.93      0.50      0.46       294
weighted avg       0.88      0.87      0.81       294